@import '../settings.scss';

.navigation{
    margin:20px 0;
    display:flex;
}

a{
    margin: 10px;
    padding:10px;
    position:relative;
}

.nav-active{
    &::after {
        content:"";
        width:60%;
        height:3px;
        background: $color-1;
        position: absolute;
        bottom:1px;
        left:50%;
        transform: translate(-50%);    }
}